
/* h1 {color: blueviolet;
background-color: antiquewhite;
text-align: center;
border: 5px orange solid;}

h3 {color:blue;
text-align: center;} */

.title {
text-align: right;
color: aqua;
background-color: black
;}
#date {color: blue;}